#gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr;
}

.p5Container {
    height: 400px;
  }

canvas {
    display: block;
}

